.checkout-summary {
  /* max-width: 1000px;
  margin: 0 auto; */
  padding: 40px 20px;
}

.checkout-summary h2 {
  margin-bottom: 32px;
}

.checkout-items-section,
.order-summary,
.next-steps {
  background: #fff;
  border: 1px solid #e5e5e5;
  padding: 24px;
  margin-bottom: 24px;
}

.next-steps p {
  margin-bottom: 16px;
}

.checkout-item {
  display: flex;
  gap: 16px;
  padding: 16px 0;
  border-bottom: 1px solid #eee;
}

.checkout-item:last-child {
  border-bottom: 0;
}

.checkout-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.checkout-item-details h3 {
  margin: 0 0 8px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.summary-row.total {
  font-weight: 700;
  font-size: 18px;
  border-top: 1px solid #eee;
  padding-top: 12px;
}

.place-order-btn {
  padding: 12px 24px;
  border-radius: 30px;
  background: #ffd814;
  color: #000;
  border: 0;
  cursor: pointer;
}

.checkout-empty {
  text-align: center;
  padding: 60px 20px;
}



.order-confirmation p {
  margin-bottom: 24px;
}

.order-confirmation a.continue-shopping-btn {
  color: #000
}

.confirmation-actions {
  display: flex;
  gap: 24px;
}

.continue-shopping-btn {
  /* display: block; */
  margin-top: 24px;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 12px 24px;
  background: #ffd814;
  text-align: center;
}

.order-confirmation a.account-btn {
  color: #000
}

.account-btn {
  margin-top: 24px;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 12px 24px;
  background: #ffa41c;
  text-align: center;
}