/* footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
} */

/* footer .footer>div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
} */

footer .footer p {
  margin: 0;
}

.footer {
  background: cadetblue;
  color: #fff;
  padding: 10px 15px;
}

.footer>div>div {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-bottom: 24px;
}

.footer>div>div:last-child {
  width: 100%;
  text-align: center;
}

.footer h2 {
  font-size: 18px;
  color: #fff;
  margin: 0;
}

.footer ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer a:hover {
  color: #dd0031;
}

.footer p:last-child {
  font-size: 14px;
}

@media (width >=900px) {
  footer .footer>div {
    padding: 40px 32px 24px;
  }
}

@media (width <=600px) {
  .footer>div>div {
    display: block;
    width: 100%;
  }
}